* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-link {
  color: #fff !important;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 1rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.nav-link.active {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.tableHeader {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
